main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px;
}
.cart-sticky {
  position: sticky;
  top: 0;
  margin: 30px;
}
