main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px;
}
.cart-container h1 {
  text-align: center;
}
.cart-sticky {
  position: sticky;
  top: 0;
  margin: 30px;
}
.cart-sticky button {
  width: 100%;
  margin: 10px;
  border: 1px solid rgb(98, 255, 98);
  padding: 10px 15px;
  background: transparent;
  color: rgb(0 149 0);
  text-transform: uppercase;
  border-radius: 5px;
}

.card .card-info button:hover {
  background-color: #f62e0b;
}
.card .card-info button:active {
  box-shadow: 0 2px #666;
  bottom: 2px;
}
@media (max-width: 991px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
  }
}
@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-container {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}
